<div class="box-container">
    <img id="<%=wallpaper._id%>" src="<%=wallpaper.source%>" alt="">

    <div class="wallpaper-info-container">
        <div class="upload-info">
            <div class="user-info">
                <a class="user-img" href="/profile/@<%=creator.username%>">
                    <img src="<%=creator.profilePicture %> " alt="">
                </a>
                <a class="user-name" href="/profile/@<%=creator.username%>">
                    <%=`${creator.fname} ${creator.lname}`%>
                </a>
            </div>
            <div class="options">
                <button class="download-button" wallpaper="<%=wallpaper._id%>"><i
                        class="fa-solid fa-download"></i>Download</button>
                <button class="more-options-btn" id="moreOptionsBtn"><i class="fa-solid fa-ellipsis"></i></button>
                <div class="more-options-dropdown" id="moreOptionsDropdown">
                    <a href="#" id="shareBtn" class="share-button">Share</a>
                    <%if(owner){%>
                        <a href="#" id="editBtn">Edit</a>
                    <%}else{%>
                        <a href="#" id="report-button">Report</a>
                    <%} %>
                    <a href="#" id="favoriteBtn">Favorite</a>
                </div>
            </div>
        </div>

        <div class="wallpaper-details">
            <span><i class="fa-regular fa-calendar"></i>Downlaods <%=wallpaper.downloads %> </span>
            <span><i class="fa-solid fa-download"></i>Uploaded on <%=new Date(wallpaper.created_at).toDateString() %>
            </span>
            <span><i class="fa-regular fa-circle-check"></i>Free to use under the licence of EzWallpapers</span>
        </div>

        <div class="tags-container">
            <%wallpaper.keywords.forEach(keyword=> {%>
                <a href="/?search=<%=keyword%>">
                    <%=keyword%>
                </a>
                <%});%>
                    <!-- <a href="">Animal</a>
            <a href="">Eagle</a>
            <a href="">Cute</a>
            <a href="">Badass</a>
            <a href="">Dangrous</a>
            <a href="">Cool</a>
            <a href="">Modern</a>
            <a href="">Modest</a>
            <a href="">Outfit</a>
            <a href="">Cowboy</a>
            <a href="">Fearless</a>
            <a href="">Racist</a>
            <a href="">Noob</a>
            <a href="">Pro</a>
            <a href="">Fuck</a>
            <a href="">Hater</a>
            <a href="">Lover</a>
            <a href="">Something</a>
            <a href="">Chaddi</a>
            <a href="">Racer</a>
            <a href="">Farmer</a>
            <a href="">Pet</a>
            <a href="">Nothing</a> -->
        </div>
    </div>
</div>